<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>
  		Projeto Final
	</title>
	<meta name="auhthor" content="Gabriel Külzer">
	<meta name="description" content="Projeto Final de WEB II">
	<meta name="keywords" content="programação, php, html, css">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<!--CSS NORMAL-->
	<link rel="stylesheet" type="text/css" href="./css/estilo.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!--Importando Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Importando materialize.css-->
      <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>

</head>
	<body>
		<main class="geral">
			<header>
				<!-- Barra de navegação -->
				<div class="navbar-fixed">
			 	 <nav class="pink darken-4">
			 		 <div class="container">
			 			 <div class="nav-wrapper">
			 				 <a href="#" class="brand-logo">PadariaQI</a>
			 				 <a href="#" data-target="mobile-nav" class="sidenav-trigger">
			 					 <i class="material-icons">menu</i>
			 				 </a>
			 				 <ul class="right hide-on-med-and-down">
			 					 <li>
			 						 <a href="../index.php">Home</a>
			 					 </li>
			 					 <li>
			 						 <a href="../view/buscarprodutos.php">Pesquisar</a>
			 					 </li>
			 				 </ul>
			 			 </div>
			 		 </div>
			 	 </nav>
			  </div>
			  <ul class="sidenav" id="mobile-nav">
					<li>
 					 <a href="../index.php">Home</a>
 				 </li>
 				 <li>
 					 <a href="../view/buscarprodutos.php">Pesquisar</a>
 				 </li>

			  </ul>
			</header>
			<!-- Barra de navegação -->
			<h1 class="center green-text">E-mail enviado com sucesso!</h1>
      <h3 class="center">Entraremos em contato.</h3>
       </main>
    </body>
  </html>
